# ForgeGradle
/.gradle
/build
/run

# Eclipse
.classpath
.project
/.settings
/bin
/eclipse

# IntelliJ
/out

# Mac Stuff
.DS_Store
*.command

# External APIs

# BeefCore, when it's copied into the source tree
/src/main/java/erogenousbeef/core
